<!--Template for tumblr post with reblogs-->

<!--neutral was the class I started with. It is called neutral because I chose a neutral background color to test everything out. but in the end it is just a container for everythings so it is easier to place stuff right and give it good dimensions.-->
<div class="neutral">
<!--I don't know why this is picture1, there was some bug and I fixed it with this, but don't ask me what. I don't think there is an actual css equivalent-->
  <div class="profile-picture1">

<p>
<!--Profile picture of the person that last reblogged the post-->
      <img class="profile-picture" src="" alt="" />
    </p></div>
    <!--Beginning of the actual post-->
  <div class="tumblr-container">
    <div class="header-reblog">
      <div class="name-reblog">
        <div class="name-reblogger">
<!--as the class says, this is the name of the last person who reblogged the post-->
<p>
            red-cat
          </p></div>
        <div class="reblog-icon">
          <div class="screenreader">
<!--everything here won't show on the website in the end, but will be read by a screenreader. VERY UGLY SOLUTION but ao3 doesn't allow me to do it differently-->
<p>Reblogged from</p></div>

<p><!--that tiny reblog icon between the names-->
          <img src="https://cdn.discordapp.com/attachments/779675713493532673/1068901066097311886/Screenshot_from_2023-01-28_15-30-47.png" alt="" />
        </p></div>
        <div class="name-reblogged-from">
<!--the name of the user the reblogger reblogged from-->
<p>neil-josten</p></div>
      </div>
      <div class="points-reblog">

<p><!--on tumblr you can click on the three dots in the upper right corner, in this template these are only 3 dots-->
          <b>...</b>
        </p></div>
    </div>
    <!--the pale line between the header and the message-->
    <div class="full-line"></div>
    <div class="message">
      <div class="header-reblog name-reblog">
        <div class="reblog-icon profile-picture-reblog">
          <div class="screenreader">
<!--screenreader stuff again-->
<p>First post. Posted by</p></div>

<p><!--profile picture of the original poster-->
              <img class="rounded-edges" src="" alt="" />
            </p></div>
        <div class="no-speak name-reblogger">
<!--name of the original poster-->
<p>coffeeinthemorning</p></div>
      </div>
      <div class="message-reblog">
<!--finally the actual content of the tumblr post! yay!-->
<p>We all have this person we once spoke to and then life happened and we lost contact. I often think about my best friend in highschool. I hope she is okay.</p>

<p>What person is it for you? Who would you like to speak to at least one more time?</p></div>
    </div>
    <!--line between the tumblr post and the next post from the first reblogger-->
    <div class="full-line"></div>
    <!--if you want to have a reblog post in your tumblr post, here is the section where you need to paste everything that is in the 'message' div-->
    <div class="message">
      <div class="header-reblog name-reblog">
        <div class="reblog-icon profile-picture-reblog">

<p><!--picture of the blog first reblogging the original post-->
              <img class="rounded-edges" src="" alt="" />
            </p></div>
        <div class="screenreader">
<!--screenreader stuff-->
<p>Second post: Posted by</p></div>
        <div class="no-speak name-reblogger">
<!--name of the user who first reblogged the post-->
<p>neil-josten</p></div>
      </div>
      <div class="message-reblog">
<!--finally in the content again!!!-->
<p>This inspired me to write a fic. Think about it. What if Neil had known Andrew as a teenager and then they lost contact? Here is the link: <a href="https://archiveofourown.org/works/44630947/chapters/112300213" rel="nofollow"> When we were younger</a></p></div>
    </div>
    <!--FUN PART! here come the tags! yes, sadly every single tag has to be wrapped in its own div-->
    <div class="tags">
      <div class="single-tag">

<p>#I have no clue what fandom this is</p></div>
      <div class="single-tag">

<p>#but damn</p></div>
      <div class="single-tag">

<p>#I'm not crying you are crying</p></div>
    </div>
    <!--footer means the Notes count and the social media 'buttons' (they are just an image in this template-->
    <div class="footer">
      <div class="note-count">
<!--Tumblr Notes count-->
<p>253.709 Notes</p></div>
      <div class="social-img">

<p><!--social media buttons-->
        <img class="social" src="https://cdn.discordapp.com/attachments/779675713493532673/1068833007382827079/social.png" alt="" />
      </p></div>
    </div>
  </div>
  <!--This template was created by @lyndiscealin (tumblr)-->
</div>


<!--Template for only op posts-->



<div class="neutral">
  <div class="profile-picture1">

<p><!--picture of op-->
      <img class="profile-picture" src="" alt="" />
    </p></div>
  <div class="tumblr-container">
    <div class="header">
    <!--the whole header section is far simpler-->
      <div class="screenreader">
<!--screenreader stuff-->
<p>Posted by</p></div>
      <div class="name">
<!--name of op-->
<p>neil-josten</p></div>
      <div class="points">

<p><!--the three dots again-->
          <b>...</b>
        </p></div>
    </div>
    <div class="message">
<!--content! that was faaar quicker now :D-->
<p>@andrew-minyard ha! you really think I can't hide from the FBI? You should know better than that, Andrew.</p></div>
<!--tag section-->
    <div class="tags">
      <div class="single-tag">

<p>#you know there is a chat functionality here, right?</p></div>
      <div class="single-tag">

<p>#this is actually not how tumblr works</p></div>
    </div>
    <!--footer-->
    <div class="footer">
      <div class="note-count">
<!--tumblr notes count-->
<p>939 Notes</p></div>
      <div class="social-img">

<p><!--social media buttons-->
        <img class="social" src="https://cdn.discordapp.com/attachments/779675713493532673/1068833007382827079/social.png" alt="" />
      </p></div>
    </div>
  </div>
  <!--This template was created by @lyndiscealin (tumblr)-->
</div>
