#workskin .neutral {
  margin: auto;
  width: 70%;
  min-width: 350px;
  background-color: transparent;
  overflow: hidden;
}

#workskin .tumblr-container {
  margin: auto;
  overflow: hidden;
  padding: 1em;
  display: inline-block;
  width: 65%;
  float: left;
  font-family: "Helvetica Neue", sans-serif;
  color: silver;
  background-color: rgb(54, 70, 93);
  box-shadow: black;
  border-radius: 5px;
}

#workskin .profile-picture {
  margin-right: 3%;
  max-width: 80px;
  width: 20%;
  float: left;
  border-radius: 15%;
}

#workskin .name-reblog {
  width: 80%;
  margin: auto;
  display: inline-block;
}

#workskin .name,
#workskin .name-reblogger,
#workskin .name-reblogged-from,
#workskin .reblog-icon {
  font-size: 14px;
  float: left;
}

#workskin .header *,
#workskin .header-reblog * {
  margin-block-start: 1%;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#workskin .reblog-icon {
  margin-left: 1.5%;
  margin-right: 1.5%;
}

#workskin .profile-picture-reblog {
  padding-right: 2.5%;
  margin-left: 0px;
  min-width: 20px;
  width: 7%;
}

#workskin .rounded-edges {
  border-radius: 15%;
}

#workskin .name-reblogged-from {
  color: rgba(191,191,191,0.65);
}

#workskin .points,
#workskin .points-reblog {
  font-size: 15pt;
  margin-block-start: -2%;
  float: right;
}

#workskin .points *,
#workskin .points-reblog * {
  speak: none;
}

#workskin .points-reblog {
  margin-block-start: -1%;
}

#workskin .header,
#workskin .header-reblog {
  font-weight: 700;
}

#workskin .header-reblog {
  margin-bottom: 2%;
}

#workskin .message {
  display: inline-block;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}

#workskin .tags {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: rgba(191,191,191,0.65);
}

#workskin .tags *,
#workskin .footer *,
#workskin .full-line {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#workskin .single-tag {
  float: left;
  padding-right: 5%;
}

#workskin .footer {
  width: 100%;
  padding-top: 10%;
  padding-bottom: -5%;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: rgba(191,191,191,0.65);
}

#workskin .note-count {
  padding-top: 1%;
  float: left;
}

#workskin .social-img {
  float: right;
  min-width: 150px;
  max-width: 200px;
  width: 40%;
}

#workskin .social {
  width: 100%;
}

#workskin .full-line {
  margin-top: -3px;
  margin-left: -50px;
  margin-bottom: 4%;
  display: inline-block;
  width: 300%;
  padding-left: 0px;
  border: 0.1px solid rgba(191,191,191,0.1);
}

#workskin .message-reblog * {
  margin-block-start: 0px;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#workskin .message-reblog {
  margin-bottom: 5%;
}

#workskin .screenreader {
  position: absolute;
  left: -9999px;
}

#workskin .no-speak,
#workskin .no-speak * {
  speak: none;
}
